body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    color: #333;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
  }
  
  a { 
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  } 
  
  a:hover {
    background-color: #303f9f;
    transform: scale(1.1);
  }
  